        <div id="footer">
            <div id="facebook">
                <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
            </div>
            </a>
            <div id="etsy">
                <a href="https://etsy.com/"><i class="fa fa-etsy"></i></a>
            </div>
            <p id="copyright">&copy; Sweet Stitches 2017</p>
        </div>
    </body>
</html>