<!DOCTYPE HTML>
<html>
    <head>
        <title>Sweet Stitches</title>
        <link rel="stylesheet" type="text/css" href="/app.css">
        <link href="https://fonts.googleapis.com/css?family=Lora|Raleway:400, 700" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script src="/app.js"></script>
    </head>
</html>
<body>
    <div id="navbar">
        <div id="inner-nav">
            <h4><a href="/">Sweet Stitches</a></h4>
            <ul>
                <li><a class="nav-link" href="/shop" onclick="addClass()">STORE</a></li>
                <li><a class="nav-link" href="/about" onclick="addClass()">ABOUT</a></li>
                <li><a class="nav-link" href="/contact" onclick="addClass()">CONTACT</a></li>
            </ul>
            <hr>
        </div>
    </div>