<!DOCTYPE HTML>
<html>
<head>
    <title>About Sweet Stitches by Karen | Handmade Crocheted Hats, Clothes, and Accessores</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="about.css">
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400|Source+Sans+Pro" rel="stylesheet">
</head>
<body>

    <% include partials/navbar %>

    <div id="banner">
        <div id="banner-inner">
            <h1>About Sweet Stitches by Karen</h1>
            <h3>Hats, Clothing, and Accessories Crafted by Karen</h3>
        </div>
    </div>
    
    <div id="about">
        <div id="about-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Ut finibus vel elit eget convallis. Nulla id hendrerit justo.
            In tristique libero sit amet dolor scelerisque faucibus.
            Curabitur condimentum varius purus sed laoreet.
            Nam non turpis vitae urna dictum condimentum nec ut turpis.
            Mauris nec magna tempus, convallis risus id, porttitor sem.
            Pellentesque et risus eu nunc varius condimentum eu sit amet arcu.
            Nullam purus ex, egestas et ipsum posuere, vehicula viverra tortor.
            Suspendisse auctor diam turpis, nec rhoncus nibh porttitor faucibus.
            Nulla in interdum purus.
            Etiam tristique diam nulla, vel dignissim libero suscipit eu.
        </div>
        <div id="about-content">
            Nunc imperdiet hendrerit enim, elementum varius ex tristique ut.
            Suspendisse non feugiat purus, at commodo justo.
            Nam nec ligula quis velit cursus efficitur.
            Donec feugiat eget nibh vitae posuere.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Aenean cursus nisi at enim mollis finibus.
            Nullam posuere vitae dolor in tristique.
            Integer viverra, est non condimentum commodo, mi nisl efficitur est, ultrices pellentesque mi est ac dolor.
            Pellentesque elit tellus, efficitur vel vestibulum vel, hendrerit ut nisl.
            Fusce hendrerit interdum dolor, et ornare nulla varius ac.
            Vivamus pretium, tellus ut vestibulum placerat, massa ex efficitur enim, non tincidunt elit neque eget nisi.
            Vestibulum consequat purus vel lectus egestas, sit amet feugiat massa cursus.
        </div>
    </div>

</body>
</html>