<!DOCTYPE HTML>
<html>
    <head>
        <title>Remove Product</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="forms.css">
        <link rel="stylesheet" type="text/css" href="navbar.css">
        <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
    </head>
    <body>
        <div id="form">
            <form action="/remove" method="POST">
            <p>
            <input type="text" class="form-control" placeholder="Product id to remove" name="id">
            </p>
            <p>
                <input type="submit" class="btn btn-danger" value="Remove Product">
            </p>
            </form>
        </div>
        
    </body>
</html>